/* app css stylesheet */

.padding {
  padding: 10px;
}

.padding-2 {
  padding: 20px;
}

.padding-4 {
  padding: 40px;
}

.padding-8 {
  padding: 80px;
}

.padding-top {
  padding-top: 10px;
}

.padding-left {
  padding-left: 10px;
}

.padding-right {
  padding-right: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.padding-2 {
  padding: 20px;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: 0;
}

.margin {
  margin: 10px;
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-2 {
  margin-top: 20px;
}

.margin-right {
  margin-right: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.spacer {
  width: 100%;
  height: 10px;
}

.spacer-2 {
  height: 20px;
}

.spacer-4 {
  height: 40px;
}

.spacer-6 {
  height: 60px;
}

.spacer-8 {
  height: 80px;
}

.center {
  text-align: center;
}

.spacer-12 {
  height: 120px;
}

.height-800 {
  height: 800px
}

.Search .dropdown-menu{
  position: absolute;
  width: 500px;
  background-color: white;
  z-index: 100;
  display: block;
  font-size: 25px;
  margin: 0;
  padding: 20px;
  border: 1px solid #ddd;
}
.Search .uib-typeahead-match.active{
  background-color: #ffdca4;
}
.Search a{
  color: #757575;
  line-height: 38px;
}
