
.logo img {
  position: absolute;
  top: 20px;
  width: 100px;
}

.demo-cards h6 {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin: 0 auto;
}

.demo-cards .mdl-card__title.mdl-card__title {
  background-size: cover;
  background-position: center 10px;
  min-height: 200px;
}

#demo-menu-lower-right {
  font-family: 'Rubik';
  height: 50px;
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid #E0E0E0;
  color: #757575;
}
.mdl-list__item-text-body {
  margin-top: 10px;
  width: 100%;
}
.client-name {
  font-size: 24px;
  line-height: 24px;
  color: #757575;
}

.demo-client-list h5 {
  font-family: 'Rubik';
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 20px;
  background-color: blue;
  margin: 0;
  width: 100%;
  line-height: 50px;
}

#demo-menu-lower-right span {
  text-transform: none;
}
.mdl-list {
  width: 100%;
  padding-top: 0;
}
.mdl-menu__container, .mdl-menu__outline, .mdl-menu  {
  width: 100% !important;
}
.demo-client-list {
  position: relative;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
.demo-list-three {
  margin: 0;
}
.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons {
  font-size: 75px;
}
.mdl-list__item {
  cursor: pointer;
  font-family: 'Rubik', sans-serif
}
.mdl-list__item-secondary-action .material-icons {
  font-size: 40px;
}
.mdl-list__item--three-line .mdl-list__item-primary-content {
  height: auto;
}

.mdl-list__item-avatar.material-icons {
  width: 75px;
  height: 75px;
}
.mdl-list__item--three-line {
  border-top: 1px solid #E0E0E0;
  height: 120px;
}

body > div > div > main > div > div.demo-client-list.mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-cell--6-col.mdl-grid > ul > li:nth-child(3) {
  border-bottom: 1px solid #E0E0E0;
}

.mdl-layout-title{
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}
.demo-avatar-dropdown {
  font-family: 'Rubik', sans-serif;
}
.demo-search {
  padding: 0;
  height: 80px;
}
.demo-search .container {
  width: 100%;
}

.demo-search .Search {
  position: relative;
  display: flex;
  font-weight: 300;
  font-size: 40px;
  color: #555;
}

.demo-search .Search-box {
  width: 100%;
  padding-left: 30px;
  height: 80px;
  border: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
}

.demo-search .Search-box:focus {
  margin: 0;
  outline: 0;
}

.demo-search .Search-label {
  position: absolute;
  top: 14px;
  right: 15px;
  font-size: 40px;
  width: 50px;
  height: 50px;
  background-color: white;
}

.demo-search .Search-label i {
  font-size: 40px;
  margin-left: 5px;
  margin-top: 5px;
  color: #03A9F4;
}

.demo-charts .mdl-button {
  padding: 5px 15px;
  height: auto;
  margin:10px;
  background-color: #03A9F4;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;

}

.demo-charts .mdl-button i {
  margin-right: 10px;
}
.demo-charts .mdl-textfield {
}
.demo-charts h5 {
}
html, body {
  font-family: 'Rubik', sans-serif;
}
.demo-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  border: 3px solid white;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: 0;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 220px;
  font-family: 'Rubik', sans-serif;
}
.demo-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: 16px;
}

.demo-navigation {
  flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: 300;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #004D40;
  transition: all .3s ease-in-out;     
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}

.demo-charts {
  align-items: center;
}
.demo-chart:nth-child(1) {
  color: #ACEC00;
}
.demo-chart:nth-child(2) {
  color: #00BBD6;
}
.demo-chart:nth-child(3) {
  color: #BA65C9;
}
.demo-chart:nth-child(4) {
  color: #EF3C79;
}
.demo-graphs {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  align-items: flex-start;
  align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
